html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    color: rgba(0,0,0,0.87);
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images googleapps googleaccount";
}

#About {
    grid-area: about;
    justify-self: center;
    align-self: center;
}

#Store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}

#Gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}

#Images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}

#Google-Apps {
    grid-area: googleapps;
    justify-self: center;
    align-self: center;
}

#Google-Account {
    grid-area: googleaccount;
    justify-self: center;
    align-self: center;
}

#footbar {
    display: grid;
    grid-template-columns: 50px 50px 50px 1fr 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "advertising business howsearchworks . privacy terms settings";
}

#Advertising {
    grid-area: advetising;
    justify-self: center;
    align-self: center;
}

#Business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#How-Search-Works {
    grid-area: howsearchworks;
    justify-self: center;
    align-self: center;
}

#Privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}

#Terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#Settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}